<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <h1><a href="/">Flask-Login! 🖊️</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Create account</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main>
        <section class="center">
            <h1 class="headline-h1">About Big Mike! 🧔‍♂️</h1>
            <br><br>
            <figure class="center">
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Big Mike is an HTML, CSS, JavaScript and Python developer.</figcaption>
            </figure>
        </section>
    </main>
</body>

</html>