<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <h1><a href="/">Flask-Login! 🖊️</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Create account</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main>
        <section class="center">
            {% if current_user.is_authenticated %}
            <h1 class="headline-h1">You are logged in {{session.name}} </h1>
            <br>
            <figure>
                <img src="../static/images/Computer_LoggedIn.png" alt="Logged In" width="320px">
            </figure>
            <br>
            <a href="/logout">Logout</a>
            {% else %}
            <h1 class="headline-h1">You are not logged in</h1>
            <br>
            <figure>
                <img src="../static/images/Computer_LoggedOut.jpg" alt="Logged Out" width="320px">
            </figure>
            <br>
            <a href="/login">Login</a>
            {% endif %}
        </section>
    </main>
</body>

</html>

