<!-- sign_up.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Sign Up</title>
</head>

<body>
    <header>
        <h1><a href="/">Flask-Login! 🖊️</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Create account</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main>
        <section class="center">
            <h1 class="headline-h1">Create an account</h1>
            <br>
            <figure>
                <img src="../static/images/Computer_SignIn.jpg" alt="Sign In" width="300px">
            </figure>
            <br>
            <div>
                <form action="#" method="post">
                    <label for="username">Username:</label>
                    <input class="textarea" type="text" name="username">
                    <br>
                    <label for="password">Password:</label>
                    <input class="textarea" type="password" name="password">
                    <br><br>
                    <button class="submit"type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>
</body>

</html>