/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
}

nav {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:navajowhite;
    border: 2px solid black;
}

nav a {
    position: relative;
    top: 10px;
    color: black;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

main {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.headline-h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.headline-hr {
    height: 6px;
    color: black;
    background-color: black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
}

.main-container h2 {
    font-size: 2em;
}

img {
    border: 5px solid black;
}

figcaption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

table {
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(219, 225, 233);
}

th, tr, td {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.text-field {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    background-color: azure;
    border: 2px solid black;
    border-radius: .5em;
}

.add-button {
    font-size: 1.3em;
    background-color: rgb(228, 141, 224);
    color: black;
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: .5em;
    width: 200px;
    text-decoration: none;
}

.delete-button {

    font-size: 1em;
    background-color: rgb(228, 141, 224);
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: .5em;
    width: 265px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

