<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <h1>Flask Upload Dynamic Images! 🏗️</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home 🏡</a>
            <a href="{{ url_for('about') }}">About 🛈</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="center">
                <h1>About Big Mike! 🧔</h1>
                <br>
                <figure>
                    <img src="{{ url_for('static', filename='images/Big_Mike.jpg') }}" alt="Big Mike" width="320px">
                    <figcaption>Big Mike was born in Salt Lake City, Utah. ⛰️</figcaption>
                </figure>
            </div>
        </section>
    </main>
</body>

</html>