<!-- welcome.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Welcome {{ name }}! 👤</title>
</head>

<body>
    <header>
        <h1>Flask-Login! 🖊️</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home 🏡</a>
            <a href="{{ url_for('about') }}">About 🛈</a>
        </nav>
    </header>
    <main>
        <div class="center">
        <h1>Welcome <strong class="str">{{name}}! 👤</strong></h1>
        <br>
        <figure>
            <img src="{{ url_for('static', filename='images/Ogallala_Nebraska.jpg')}}"
                alt="Ogallala Nebraska" width="320px">
            <figcaption>Ogallala Nebraska Welcome Center. 🌽</figcaption>
        </figure>
        <br>
        <a class="btn" href="{{url_for('index')}}">Logout</a>
        </div>
    </main>
</body>

</html>

